<template>
    <div id="app">
        <div id="calculator" class="container mx-auto">

            <div id="question" class="bg-white rounded m-2 p-4 
            w-full md:w-1/3 text-3xl">
                Ever wondered how much horsepower your new boat should have? 
                <br>
                <br> 
                Use our handy calculator to get a quick estimate.
            </div>

            <div id="inputs" class="bg-white rounded m-2 p-4
            w-full md:w-1/3">

                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="hull-length">
                        Hull length (feet)
                    </label>
                    <input 
                        v-model.number="length"
                        id="hull-length" name="HullLength" type="number" 
                        step=0.5 min=1 max=144 required
                        class="shadow appearance-none border rounded w-full py-2 px-3 
                        text-grey-darker leading-tight focus:outline-none focus:shadow-outline" 
                    >      
                </div>

                <div class="mb-4">
                    <label 
                    class="block text-grey-darker text-sm font-bold mb-2" for="buttock-angle">
                        Buttock angle (2 &deg; - 7 &deg;) &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; 
                        <em id="buttock-angle-value" style="font-style: normal; color: blue;">4.5 &deg;</em>
                    </label>
                    <input 
                        v-model.number="angle"
                        id="buttock-angle" name="ButtockAngle" type="range" 
                        list="tickmarks" min=20 max=70
                        oninput="document.getElementById('buttock-angle-value').innerHTML = this.value/10 + '&deg;';"
                        class=" w-full py-2 px-3 
                        text-grey-darker leading-tight focus:outline-none focus:shadow-outline" 
                    >

                    <datalist id="tickmarks">
                        <option value="20" label="2"></option>
                        <option value="30" label="3"></option>
                        <option value="40" label="4"></option>
                        <option value="50" label="5"></option>
                        <option value="60" label="6"></option>
                        <option value="70" label="7"></option>
                    </datalist>

                </div>

                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="displacement">
                        Displacement (lbs)
                    </label>
                    <input 
                        v-model.number="disp"
                        id="displacement" name="Displacement" type="number" 
                        step=0.5 min=1 required  
                        class="shadow appearance-none border rounded w-full py-2 px-3 
                        text-grey-darker leading-tight focus:outline-none focus:shadow-outline" 
                    >    
                </div>

                    <button @click="calculate()" type="button"
                    class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 
                    rounded focus:outline-none focus:shadow-outline w-full" 
                    >
                    Calculate
                    </button>

            </div>

            <div id="output" class="bg-white rounded m-2 p-4 
            w-full md:w-1/3 text-center">
                <div id="you-need" class="text-2xl p-4">You need...</div>
                
                <div id="answer" 
                class="rounded text-4xl p-4 mt-6 text-white text-xl bg-red">
                {{result}}
                </div>
                
                <div id="horsepower" class="text-4xl pt-6">Horsepower</div>
            </div>
        
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return{
                length: 30, 
                angle: 45,
                disp: 100, 
                result: 'Click calculate to view result'
            } 
        },
        methods: {
            calculate: function () {
                window.axios.post('/calculate', this.$data).then(({ data }) => {
                    this.result = data;
                });
            }
        },
    }
</script>